$--color-primary: #a48677;
$--color-success: #7e9d7a;
$--color-warning: #d89a52;
$--color-danger: #c96455;
$--color-info: #8e9ba8;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-tabs {
  &__nav-wrap {
    &::after {
      background-color: #cdc3bc !important;
    }
  }

  &__active-bar {
    background-color: #6f5c54 !important;
  }

  &__item {
    color: #a48677 !important;

    &.is-active {
      color: #6f5c54 !important;
    }
  }
}
